
@{
    ViewBag.Title = "Notification";
}


<div class="container">
    <div class="row">
        <h2>Real Time Notifications</h2>
    </div>
    <div class="row">
        <div class="col-md-2">
            <span>Site Id : <input id="txtSiteId" type="text" value="10000" /></span>
            <button id="btnStart">Start</button>
        </div>
        @*<div class="col-md-2">
                <span>Conversation Id : <input id="txtConversationId" type="text" /></span>
                <button id="btnJoinConversation">Join Conversation</button>
                <button id="btnLeaveConversation">Leave Conversation</button>
            </div>*@
        <div class="col-md-10">
            <div id="discussion"></div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {

            $.connection.hub.url = 'http://192.168.0.154:30000/signalr';
            var hub = $.connection.notificationHub;

            $("#btnStart").click(function () {
                hub.state.agentId = 1;

                var siteId = $("#txtSiteId").val();
                hub.state.siteId = siteId;
                $.connection.logging = true;
                $.connection.hub.qs = { "siteId": siteId };

                $.connection.hub.stop();
                $.connection.hub.start().done(function () {

                    $("#btnJoinConversation").click(function () {
                        var conversationId = $("#txtConversationId").val();
                        if (conversationId) {
                            hub.server.joinConversation(conversationId);
                        }
                    });
                    $("#btnLeaveConversation").click(function () {
                        var conversationId = $("#txtConversationId").val();
                        if (conversationId) {
                            hub.server.leaveConversation(conversationId);
                        }
                    });
                });
            });

            hub.client.conversationCreated = function (conversation) {
                console.log(conversation);
                $('#discussion').append("<p>" + htmlEncode("Conversation Created : " + conversation.id) + "</p > ");
            }
            hub.client.conversationUpdated = function (conversation) {
                console.log(conversation);
                $('#discussion').append("<p>" + htmlEncode("Conversation Updated : " + conversation.id) + "</p > ");
            }
            hub.client.facebookCommentCreated = function (messsage) {
                console.log(messsage);
                $('#discussion').append("<p>" + htmlEncode("Facebook comment created : " + messsage.id) + "</p > ");
            }
            hub.client.facebookMessageCreated = function (messsage) {
                console.log(messsage);
                $('#discussion').append("<p>" + htmlEncode("Facebook message created : " + messsage.id) + "</p > ");
            }
            hub.client.twitterTweetCreated = function (messsage) {
                console.log(messsage);
                $('#discussion').append("<p>" + htmlEncode("Twitter tweet created : " + messsage.id) + "</p > ");
            }
            hub.client.TwitterDirectMessageCreated = function (messsage) {
                console.log(messsage);
                $('#discussion').append("<p>" + htmlEncode("Twitter direct message created : " + messsage.id) + "</p > ");
            }
            hub.client.publicFilterCreated = function (id) {
                console.log(id);
                $('#discussion').append("<p>" + htmlEncode("public filter created : " + id) + "</p > ");
            }
            hub.client.publicFilterDeleted = function (id) {
                console.log(id);
                $('#discussion').append("<p>" + htmlEncode("public filter deleted : " + id) + "</p > ");
            }
            hub.client.publicFilterUpdated = function (id) {
                console.log(id);
                $('#discussion').append("<p>" + htmlEncode("public filter updated : " + id) + "</p > ");
            }
        });

        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}