<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="SiteDataContext" connectionString="data source=localhost;initial catalog=Social_QA;User Id=shin;Password=Aa000000;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="GeneralDataContext" connectionString="data source=localhost;initial catalog=General_QA;User Id=shin;Password=Aa000000;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="NotificationApiBaseAddress" value="http://192.168.0.154:30000/api/notifications" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="TwitterConsumerKey" value="LXlztyPTdmeb8BpkMa03AJhAp" xdt:Locator="Match(key)" />
    <add key="TwitterConsumerSecret" value="pK3R4CkKOySVJbmoADUIiYm65NTfVoRc82LVMnuOsjoO8aosQo" xdt:Locator="Match(key)" />
    <add key="FacebookClientId" value="116524039036929" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="FacebookClientSecret" value="1e36f4451bada3cead2efe841f782e26" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.net>
    <defaultProxy>
      <proxy autoDetect="false" bypassonlocal="false" proxyaddress="http://192.168.0.154:8888" usesystemdefault="false" xdt:Transform="Replace"/>
    </defaultProxy>
  </system.net>
</configuration>
